/* color scheme */
:root {
    /* iris */
    --primary-brand-color: #4D5AE5; 
    /* navy blue */
    --dark-color: #2E2F42;
    /* slate */
    --body-color: #434455;
    /* light slate */
    --subtle-color: #8E8F99;
    /* cornflower */
    --accent-color: #E7E9FC;
    /* cloud */
    --light-color: #F4F4FD;
}


body{
    color: var(--body-color);
}



/* header */

.logo{
    color: var(--dark-color);
}
.logo-start{
    color: var(--primary-brand-color);
}

.logo-end{
    color: var(--dark-color);
}

.footer .logo-end{
    color: var(--light-color) ;
}

.nav-list .link{
    color: var(--dark-color);
}

.contacts .link{
    color: var(--body-color);
}

.active-page .link {
    color: var(--primary-brand-color);
    
}


.nav-list .link:hover,
.contacts .link:hover,
.nav-list .link:focus,
.contacts .link:focus{
    color: var(--primary-brand-color);
}


/* button cursor */

.hero-btn,
.filter-btn{
    cursor: pointer;
}




/* all main */
.section-title,
.section-subtitle {
    color: var(--dark-color);
}




/* hero */
.hero{
    background-color: var(--dark-color);
}

.hero-title{
    color: #ffffff;
}

.hero-btn {
    background-color: var(--primary-brand-color);
    color: #ffffff;
}


    

/* index.html main*/

.team-section {
    background-color: var(--light-color);
}





/* portfolio page */
.filter-btn{
    background-color: var(--light-color);
    color: var(--primary-brand-color);
}
.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--primary-brand-color);
    color: #ffffff;
}





/* footer */
.footer{
    background-color: var(--dark-color);
}
.footer-text{
    color: var(--accent-color);
}